.menu-bar{
    text-align: center;
}
.cup{
    text-align: center;
    font-size: 1cm;
   
}
.menu-bar ul li{
    list-style: none;
    display: inline-flex;
    width: 175px;
    margin: 20px;
    padding: 10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}
.image{
    border-width: 5px;
    float: right;
    margin-top: 1cm;
    text-align: center;
    tab-size: 3cm;
    background-color: azure;
    box-sizing: border-box;

      width: 300px;
      height: 6cm;
    height: 270px;
    width: 300px;
}

.media{
  border-top: 10px;
  border-color: aqua;
  width: 300px;
  height: 130px;;
  right: 0;
  background-color: azure;
  margin-right: 3px;
  top: 700px;
  text-align: center;
  position: absolute;
}
.inbox{
  width: 300px;
  height: 135px;
  background-color: azure;
  right: 0;
  margin-right: 3px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  bottom: 55px;
  top: 640px;
}
.inbox2{
   
  list-style: none;
  background-color: rgb(251, 250, 245);
  text-align: center;
  box-sizing: border-box;

    width: 250px;
    height: 1cm;
  
  margin-right: 20px;
  float: right;
}
.media2{
    list-style: none;
    text-decoration: none;

}
